/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url('https://raw.githubusercontent.com/appacademy/curriculum/master/html-css/micro-projects/css-friends/docs/images/sprite.png?token=Ac0fZkmLUBH0LT1JmJpz1jF8JP_8sgNoks5Z51MbwA%3D%3D');
  display: inline-block;
  background-size: 25px 250px;
  height: 0;
  width: 25px;
  overflow: hidden;
  padding-top: 25px;
}


.icon-comment {
  background-position: 0px 0px;
}

.icon-comment:hover {
  background-position: 0px -25px;
}

.icon-reblog {
  background-position: 0px -100px;
}

.icon-reblog:hover {
  background-position: 0px -125px;
}

.icon-favorite {
  background-position: 0px -50px;
}

.icon-favorite:hover {
  background-position: 0px -75px;
}

[class*="icon-small-"] {
  height: 0px;
  width: 20px;
  padding-top: 18px;

}

.icon-small-wall {
  background-position: 0px -225px;

}
.icon-small-friends {
  background-position: 0px -150px;
}

.icon-small-about {
  background-position: 0px -175px;
}

.icon-small-photos {
  background-position: 0px -200px;
}

.content-header-add-friend .icon-small-friends {
  padding-right: 3px;
  padding-top: 17px;
}
