<h1>Search!</h1>

<!-- <form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%#= @query %>">

  <input type="submit" value="Search Users!">
</form> -->

<nav class="users-search">
  <label>User's name
    <input class = 'search-text' type="text" name="username" value="">
    <input class = "search-button" type="submit" name="" value="Search">
  </label>
  <ul class="users">

  </ul>
</nav>

<!-- <ul>
  <%# @users.each do |user| %>
    <li>
      <%#= link_to user.username, user_url(user) %>
      <%#= render 'follows/form', user: user %>
    </li>
  <%# end %>
</ul> -->
